<div class="alert alert-info">
	<h4>权限管理</h4>
</div>

<div class="row">

	<div class="col-md-4">
		<button class="btn btn-primary">删除</button>
		<button class="btn btn-primary" ng-click="permissionsCtrl.createNew()">新增</button>
	</div>

	<div class="col-md-8">
		<form class="form-inline pull-right" role="form">
			<div class="form-group">
				<label class="sr-only" for="exampleInputEmail2">功能名称</label>
				<input type="text" class="form-control" id="exampleInputEmail2" placeholder="功能名称">
				
			</div>
			<div class="form-group">
				<label class="sr-only" for="exampleInputPassword2">操作名称</label>
				<input type="text" class="form-control" id="exampleInputPassword2" placeholder="操作名称">
			</div>

			<button type="submit" class="btn btn-primary">搜索</button>
		</form>
	</div>

	
</div>

<div id="alert_info">
	<div class="clearfix" style="margin-bottom: 20px;"></div>
	<div class="alert alert-danger">afe wefw fwrwre dwfew</div>
</div>


<table class="table table-bordered table-hover">
	<tr>
		<th><input type="checkbox" ng-click="checkbox('perm_id')" /></th>
		<th>功能名称</th>
		<th>操作名称</th>
		<th>方法名</th>
		<th>操作</th>

	</tr>

	<tr ng-repeat="perm in permissions">
		<td><input type="checkbox" name="perm_id" id="perm_{{perm.id}}" value="{{perm.id}}"> </td>
		<td>{{perm.name}}</td>
		<td>{{perm.operation}}</td>
		<td>{{perm.method}}</td>
		<td><button class="btn btn-default" ng-click="permissionsCtrl.editItem(perm)">编辑</button><button class="btn btn-default" ng-click="permissionsCtrl.deleteItem(perm.id)">删除</button></td>
	</tr>


</table>
<nav>
	<ul class="pagination">
		<li><a href="#"><span aria-hidden="true">前一页</span><span class="sr-only">Previous</span></a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#"><span aria-hidden="true">后一页</span><span class="sr-only">Next</span></a></li>
	</ul>
</nav>


