<div class="list-group col-sm-10">
    <div class="" ng-repeat="nav in navList">
        <a class="se-menu list-group-item" ui-sref="site.{{nav.name}}" ng-class="{active: $state.includes('site.{{nav.name}}')}"
                ng-click="menuClick($event)">
            <span class="glyphicon glyphicon-{{ nav.icon }}" > </span> {{nav.alias}}
        </a>


		<ul class="list-unstyled collapse " ng-if="nav.controllers.length>0">

			<li ng-repeat="ctrl in nav.controllers"  class="se-menu-li">
				<a ui-sref="site.{{ctrl.name}}" class="" ng-class="{active: $state.is('site.{{ctrl.name}}')}">
                    <span class="glyphicon glyphicon-{{ ctrl.icon }}" > </span>{{ctrl.alias}}
                </a>
			</li>

		</ul>

    </div>
 
</div>