<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">


		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">手机电视运营系统-OMS</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<!-- <li ng-repeat="nav in navList" ng-class="nav.curStyle"><a href="{{nav.method}}">Link <span class="sr-only">(current)</span></a></li> -->
				<!-- <li ng-class="{active: $state.includes('user.home')}"><a ui-sref="user.home">Home</a></li> -->
				<!-- <li ng-class="{active: $state.includes('user.manage')}"><a ui-sref="user.manage">Manage</a></li> -->
				<li ng-repeat="nav in navList" ng-class="{active: $state.includes('site.'+'{{nav.name}}')}"><a ui-sref="site.{{nav.name}}">{{nav.alias}}</a></li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Hi,{{currentUser.userName}}!</a></li>
				<li><a ui-href="/logout">exit</a></li>
			<!--
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
				-->
			</ul>
		</div>

	</div>
</nav>