<div class="row " style="margin-top:10%">

<div class="col-md-4 col-sd-2">
</div>

<div class="col-md-4 col-sd-8" >

	<div class="panel panel-primary">
		<div class="panel-heading text-center"><span class="glyphicon glyphicon-lock"></span>手机电视--OMS</div>
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label><h2></h2></label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名..." ng-model="username" >
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码..." ng-model="password" >
				</div>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="remember_me"> 记住我
					</label>
				</div>
				<div class="form-group text-center">
					<button type="button" class="btn btn-default" ng-click="login()" on-keyup="login()">登陆</button>
				</div>
			</form>
		</div>
	</div>

</div>

<div class="col-md-4 col-sd-2" >
</div>

</div>
